html, body{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background: #F0F2F5;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background: #FFFFFF;
  color: rgb(43, 38, 38);
  -webkit-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.50);
    -moz-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.50);
    box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.50);

}

.left-icons{
  display: flex;
  justify-content: left;
  align-items: center;
}

.logo-container{
  width: 80px;
  height: 50px;
}

.logo-container img{
  width: 100%;
}

.nav-search{
  background: #F0F2F5;
  border: none;
  border-radius: 20px;
  height: 38px;
  width: 220px;
  padding-left: 20px;
 font-size: 15px;
}

.nav-search:scope{
  background: #F0F2F5;
  border: none;
  border-radius: 15px;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0px;
}

.right-icons{
  width: 250px;
  height: 55px;
  margin-left: 100px;
}

.right-icons .messenger-icon{
  width: 35px;
  margin: 11px 10px;
}

.right-icons .menu-icon{
  width: 35px;
  margin: 11px 10px;
}

.right-icons .notif-icon, .account-icon{
  width: 35px;
  margin: 11px 10px;
}

.home-icon-container, .save-icon-container{
  width: 50px;
  height: 50px;
}

.save-icon-container{
  width: 60px;
  height: 60px;
}

.home-icon-container img, .save-icon-container img, .groups-icon-container img{
  width: 100%;
}

.watch-icon-container{
  width: 40px;
  height: 40px;
}

.groups-icon-container{
  width: 40px;
  height: 40px;
}

.watch-icon-container img{
  width: 100%;
}


.events-container{
  width: 500px ;
  display: block;
  margin: 0 auto;
}

.event-card{
  background: #FFFFFF;
  width: 100%;
  overflow: hidden;
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.50);
  -moz-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.50);
  box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.50);

}

.event-card .text-container{
width: 70%;


}

.event-card .img-container{
  width: 35%;
  
}

.event-card .img-container img{
  width: 100%;
}

.event-card .save-btn-container{
  display: block;
}