html, body{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  background: #F0F2F5;
  min-height: 1000px;
  padding-top: 60px ;
}
.nav{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  background: #FFFFFF;
  color: rgb(43, 38, 38);
  -webkit-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.50);
    -moz-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.50);
    box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.50);

}

.left-icons{
  display: flex;
  justify-content: left;
  align-items: center;
}

.logo-container{
  width: 70px;
  
}

.logo-container img{
  width: 100%;
  margin-top: 6px;
}

.nav-search{
  background: #F0F2F5;
  border: none;
  border-radius: 20px;
  height: 38px;
  width: 220px;
  padding-left: 20px;
 font-size: 15px;
}

.nav-search:focus{
  outline: none;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0px;
}

.right-icons{
  width: 250px;
  height: 55px;
  margin-left: 100px;
}

.right-icons .messenger-icon{
  width: 35px;
  margin: 11px 10px;
}

.right-icons .menu-icon{
  width: 35px;
  margin: 11px 10px;
}

.right-icons .notif-icon, .account-icon{
  width: 35px;
  margin: 11px 10px;
}

.home-icon-container{
  width: 50px;
  height: 50px;
}

.save-icon-container{
  width: 55px;
  height: 50px;
  /* margin-top: -7px; */
}

.watch-icon-container{
  width: 40px;
  height: 40px;
  padding: 5px 0;
}

.groups-icon-container{
  width: 40px;
  height: 40px;
  padding: 5px 0;
}

.home-icon-container img, .save-icon-container img, .groups-icon-container img, .watch-icon-container img {
  width: 100%;
}

.home-icon-container:hover, .save-icon-container:hover, .groups-icon-container:hover, .watch-icon-container:hover {
  border-bottom: 3px solid #1877F2;
}







.form-container{
  width: 500px ;
  display: block;
  margin: 0 auto;
}

.form-container form{
  background: #FFFFFF;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.50);
  -moz-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.50);
  box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.50);
  padding: 12px;
  display: block;
  margin: 15px auto;
}

.form-container form p{
font-size: 17px;
color: #777070;
font-family: Arial, Helvetica, sans-serif;
}

.form-text-input{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #86888b;

}

.form-text-input input{
  background: #F0F2F5;
  border: none;
  border-radius: 20px;
  height: 38px;
  width: 220px;
  padding-left: 20px;
 font-size: 15px;
}

.form-text-input input:focus{
  outline: none;
}

.form-submit-input{

  border-top: 3px solid #F0F2F5;
}


.form-submit-input input{

  background-color: #FFFFFF;
  border: none;
  font-size: 17px;
  font-weight: 500;
  color: #777070;
  margin: 8px 80px 0 ;
  border-bottom: 3px solid #FFFFFF;
}

.form-submit-input input:hover{
  cursor: pointer;
  border-color: #1877F2;
}






.events-container{
  width: 500px ;
  display: block;
  margin: 0 auto;
}

.event-card, .no-Event{
  background: #FFFFFF;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.50);
  -moz-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.50);
  box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.50);
  padding: 12px;
  display: block;
  margin: 15px auto;
}

.no-Event p{
  font-family:  Arial, Helvetica, sans-serif;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  font-weight: bolder;
  color: #1877F2;
}

.text-img-container{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-card .text-container{
width: 70%;
text-align: left;

}

.event-card .text-container h2{
  font-family:  Arial, Helvetica, sans-serif;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
  font-weight: bolder;
  color: #1877F2;
}

.event-card .text-container h4{
  font-family:  Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px 2px 0px 20px;
  font-size: 13px;
  font-weight: bold;

}

.event-card .text-container h5{
  font-family:  Arial, Helvetica, sans-serif;
  padding: 0px 2px 10px 25px;
  margin: 0px;
  text-decoration: underline;
}

.event-card .text-container p{
  margin: 5px 0 10px 20px;
  
}

.event-card .text-container span{
  font-family:  Arial, Helvetica, sans-serif;
  padding: 1px 2px;
  margin: -1px;
  font-size: 13px;
  font-weight: 600;
  background-color: rgb(230, 230, 238);
  border-radius: 2px;
}

.event-card .img-container{
  width: 35%;
  
}

.event-card .img-container img{
  width: 100%;
}

.event-card .save-btn-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid #F0F2F5;
}

.event-card .save-btn-container button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border: none;
  font-size: 15px;
  font-weight: 500;
  color: #777070;
  margin:  8px 80px 0 ;
  padding: 0 16px 0 0;
  border-bottom: 3px solid #FFFFFF;
}

.event-card .save-btn-container button:hover{
  cursor: pointer;
  border-color:  #1877F2;
}


.event-card .save-btn-container span{
  width: 30px;
  
}

.event-card .save-btn-container img{
  width: 40px;
  display: inline-block;
}